<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>


<%= link_to 'New Request', new_request_path %>

<p id="notice"><%= notice %></p>

          <div id="myTable">
            <table  class="display table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="buttons" colspan="3"></th>
                </tr>
                <tr>
                  <th>Requester</th>
                  <th>User</th>
                  <th>Request Date</th>
                 
                </tr>
              </thead>
              <tbody>
                <% @requests.each do |request| %>
                <tr>
                  <td><%= link_to "#{request.user.name}", "#" %></td>
                  <td><%= request.camp.location %></td>
                  <td><%= request.created_at.to_date %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
              </tbody>
            </table>